__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/

.env
.env.*
!.env.example

.vscode/
.idea/
*.swp
.DS_Store

*.log

*.sqlite3
*.db

alembic/versions/__pycache__/

images/mock_ct/*

/dist/
/build/
*.egg-info/
